#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        bhm: balanced_homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <13 16 14 15 16 19 20>;
        };
    };

    combos {
        compatible = "zmk,combos";

        escape {
            bindings = <&kp ESCAPE>;
            key-positions = <31 32>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <32 33>;
        };

        grave {
            bindings = <&kp GRAVE>;
            key-positions = <33 34>;
        };

        escapeleft {
            bindings = <&kp ESCAPE>;
            key-positions = <1 2>;
        };

        undo {
            bindings = <&kp LG(Z)>;
            key-positions = <25 26>;
        };

        quote {
            bindings = <&kp SINGLE_QUOTE>;
            key-positions = <22 21>;
        };

        cut {
            bindings = <&kp LG(X)>;
            key-positions = <26 27>;
        };

        copy {
            bindings = <&kp LG(C)>;
            key-positions = <27 28>;
        };

        paste {
            bindings = <&kp LG(V)>;
            key-positions = <28 29>;
        };

        escapecombo {
            bindings = <&kp ESCAPE>;
            key-positions = <17 18>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        l0 {
            display-name = "BASE";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB       &kp Q                &kp W            &kp E                &kp R              &kp T        &kp Y      &kp U              &kp I                 &kp O    &kp P         &kp LC(BACKSPACE)
&kp LEFT_GUI  &bhm LEFT_CONTROL A  &bhm LEFT_ALT S  &bhm LEFT_COMMAND D  &bhm LEFT_SHIFT F  &kp G        &kp H      &bhm LEFT_SHIFT J  &bhm RIGHT_COMMAND K  &kp L    &kp QUESTION  &kp RSHFT
&kp LCTRL     &kp Z                &kp X            &kp C                &kp V              &kp B        &kp N      &kp M              &kp COMMA             &kp DOT  &kp FSLH      &kp ESC
                                                    &kp LSHFT            &mo 1              &kp SPACE    &kp ENTER  &mo 2              &kp RIGHT_ALT
            >;
        };

        l1 {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "NUMS";
            bindings = <
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4      &kp NUMBER_5    &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9   &kp NUMBER_0  &trans
&trans  &kp TILDE     &kp UP        &kp PIPE      &kp SINGLE_QUOTE  &kp EQUAL       &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT      &trans        &trans
&trans  &kp LEFT      &kp DOWN      &kp RIGHT     &kp GRAVE         &kp UNDER       &kp PLUS      &kp MINUS     &kp SLASH     &kp BACKSLASH  &trans        &trans
                                    &trans        &trans            &trans          &trans        &mo 3         &trans
            >;
        };

        l2 {
            bindings = <
&trans  &kp EXCLAMATION  &kp AT_SIGN  &kp HASH        &kp DOLLAR            &kp PERCENT          &kp CARET      &kp AMPERSAND          &kp ASTERISK      &kp LPAR  &kp RPAR       &trans
&trans  &kp INS          &none        &kp LEFT_BRACE  &kp LEFT_PARENTHESIS  &kp DOUBLE_QUOTES    &kp COLON      &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE   &kp HOME  &kp PAGE_UP    &trans
&trans  &kp DEL          &none        &kp LT          &kp LEFT_BRACKET      &kp SINGLE_QUOTE     &kp SEMICOLON  &kp RIGHT_BRACKET      &kp GREATER_THAN  &kp END   &kp PAGE_DOWN  &trans
                                      &trans          &trans                &trans               &trans         &trans                 &trans
            >;
        };

        l3 {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "DANGER";
            bindings = <
&bootloader  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5    &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &trans
&trans       &none   &none   &none   &none   &none     &none   &none   &none   &none   &kp F11  &trans
&trans       &none   &none   &none   &none   &none     &none   &none   &none   &trans  &kp F12  &trans
                             &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};

// needed for petes corne 
// &nice_view_spi { cs-gpios = <&pro_micro 0 GPIO_ACTIVE_HIGH>; };
