config SHIELD_CHIPPER_LEFT
	def_bool $(shields_list_contains,chipper_left)

config SHIELD_CHIPPER_RIGHT
	def_bool $(shields_list_contains,chipper_right)

config SHIELD_CHIPPER_DONGLE_NANO
	def_bool $(shields_list_contains,chipper_dongle_nano)

config SHIELD_CHIPPER_DONGLE_XIAO
	def_bool $(shields_list_contains,chipper_dongle_xiao)

config SHIELD_CHIPPER_PERIPHERAL_LEFT
	def_bool $(shields_list_contains,chipper_peripheral_left)


